  <form>
      <div class="file-field md-form">
          <div mdbBtn floating="true" size="md" gradient="purple" mdbWavesEffect>
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" (change)="fileChangeListener($event)" accept=".csv" >
          </div>
        <div class="file-path-wrapper mt-3">
          <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
        </div>
      </div>
      <button mdbBtn type="button" gradient="purple" rounded="true"  (click)="importarCSV()" mdbWavesEffect>Importar</button>
</form>
<div>
  <span>Total de linhas do arquivos: {{totalLinhas}}</span>
</div>


<div>
    <table class="table table-hover table-responsive-md mb-0">
      <thead>
        <tr>
          <th>linha</th>
          <th>tipo_pessoa</th> 
          <th>cpf</th>
          <th>nome</th>
          <th>email</th>
          <th>observacoes</th>
          <th>rua</th>
          <th>complemento</th>
          <th>bairro</th>
          <th>cidade</th>
          <th>uf</th>
          <th>cep</th>
          <th>ddd1</th>
          <th>fone1</th>
          <th>ddd2</th>
          <th>fone2</th>
          <th>ddd3</th>
          <th>fone3</th>
          <th>origem_lead</th>
          <th>id_origem_lead</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let csvData of csvRecords;let i = index;">
          <td>{{i+1}}</td>
          <td><span>{{csvData.tipo_pessoa}}</span></td> 
          <td><span>{{csvData.cpf}}</span></td>
          <td><span>{{csvData.nome}}</span></td>
          <td><span>{{csvData.email}}</span></td>
          <td><span>{{csvData.observacoes}}</span></td>
          <td><span>{{csvData.rua}}</span></td>
          <td><span>{{csvData.complemento}}</span></td>
          <td><span>{{csvData.bairro}}</span></td>
          <td><span>{{csvData.cidade}}</span></td>
          <td><span>{{csvData.uf}}</span></td>
          <td><span>{{csvData.cep}}</span></td>
          <td><span>{{csvData.ddd1}}</span></td>
          <td><span>{{csvData.fone1}}</span></td>
          <td><span>{{csvData.ddd2}}</span></td>
          <td><span>{{csvData.fone2}}</span></td>
          <td><span>{{csvData.ddd3}}</span></td>
          <td><span>{{csvData.fone3}}</span></td>
          <td><span>{{csvData.origem_lead}}</span></td>
          <td><span>{{csvData.id_origem_lead}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  