
<!-- <div *ngIf="importando" style="height: 100%; width: 100%">
  <div class="justify-content-center align-items-center flex-column row">
    <h1>Importando!</h1>
    <mdb-spinner spinnerType="big"> </mdb-spinner>
  </div>
</div> -->

<div *ngIf="!importando">
<form>
      <div class="file-field md-form">
          <div mdbBtn type="button"  size="md" gradient="purple" rounded="true"  mdbWavesEffect>Selecione o arquivo
            <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" (change)="fileChangeListener($event)" accept=".csv" >
          </div>
        <div class="file-path-wrapper mt-3">
          <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
        </div>
      </div>


    <div class="row">
      
      <div class="col-4 col-sm-4">
        <mdb-checkbox [checked]=excluiDuplicadosChk 
          (change)="onChangeExcluiDuplicadosChk(excluiDuplicadosChk)"
          >As linhas com id_lead_origem e CPF_CNPJ duplicadas serão excluidas
        </mdb-checkbox>
      </div>
      <div class="col-6 col-sm-6">
        <span>Total de linhas do arquivos: {{totalLinhas}}</span>
      </div>
      <div class="col-1 col-sm-1">
        <button mdbBtn floating="true" size="md" gradient="purple" rounded="true"  (click)="importarCSV()" mdbWavesEffect [disabled]="!importar" >
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        </button>
      </div>

    </div>
</form>

<div>
    <table class="table table-hover table-responsive-md mb-0">
      <thead>
        <tr>
          <th *ngFor="let head of headersRow" scope="col" > {{head}} 
              <!-- <mdb-icon icon="sort" (click)="sortBy(head)"></mdb-icon> -->
          </th>
        </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let el of csvRecords" >
            <td  *ngFor="let head of headersRow" >{{el[head]}} </td>
      </tr>
  </tbody>
    </table>
  </div>

</div>
  