<div class="row mx-auto">
  <div class="col md-form">
    <input type="search" [(ngModel)]="textoPesquisaPessoa" id="search" class="form-control" mdbInputDirective
      [mdbValidate]="false" (keyup)="$event.keyCode == 13 && pesquisar()">
    <label for="search">Pesquisa Pessoa</label>
  </div>
  <div class="col-1">
    <a mdbBtn floating=" true" size="lg" (click)="pesquisar()" gradient="blue" mdbWavesEffect>
      <mdb-icon icon="bolt"></mdb-icon>
    </a>
  </div>
</div>

<table class="table table-hover table-responsive-md mb-0">

  <!--Table head-->
  <thead>
    <tr>
      <th class="th-sm">Id</th>
      <th class="th-sm">Nome
        <mdb-icon icon="sort" (click)="sortBy('nome')"></mdb-icon>
      </th>
      <th class="th-sm">Fantasia
        <mdb-icon icon="sort" (click)="sortBy('apelido_fantasia')"></mdb-icon>
      </th>
      <th class="th-sm">CPF/CNPJ
        <mdb-icon icon="sort" (click)="sortBy('cpf_cnpj')"></mdb-icon>
      </th>
      <th class="th-sm">Inclusão
        <mdb-icon icon="sort" (click)="sortBy('dtinclusao')"></mdb-icon>
      </th>
      <th class="th-sm">Status
        <mdb-icon icon="sort" (click)="sortBy('status')"></mdb-icon>
      </th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr (click)="editarPessoa(pessoa); pessoaEditando.show()" #list *ngFor="let pessoa of pessoasEncontradas; let i = index">
      <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{pessoa.id}}</td>
      <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{pessoa.nome}}</td>
      <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{pessoa.apelido_fantasia}}</td>
      <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{pessoa.cpf_cnpj}}</td>
      <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{pessoa.dtinclusao | date:'dd/MM/yyyy' }}</td>
      <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{pessoa.status}}</td>
    </tr>
  </tbody>
  <!--Table body-->
</table>

<div mdbModal #pessoaEditando="mdbModal" [config]="{backdrop: true, ignoreBackdropClick: true}" class="modal fade right"
  role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="pessoaEditando.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editando Pessoa</h4>
      </div>
      <div class="modal-body" style="overflow: auto; height: 80vh;">
        <div class="row">
          <div *ngIf="editandoPessoa" class="col">
            <app-cadastro-pessoa [pessoa]="editandoPessoa" (refresh)="refresh()"></app-cadastro-pessoa>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>