/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #f1f4f6;
  overflow: hidden;
}

.side-nav {
  background-color: #24879d !important;
}

.side-nav .collapsible a {
  color: #fff !important;
}

.cyan-skin .side-nav .fa {
  color: #fff !important;
}

.cyan-skin .btn-primary {
  background-color: #388e3c !important;
}

.cyan-skin .btn-primary:not([disabled]):not(.disabled):active,
.cyan-skin .btn-primary:not([disabled]):not(.disabled).active,
.show>.cyan-skin .btn-primary.dropdown-toggle {
  background-color: #2c732f !important;
}

.cyan-skin .side-nav .collapsible .card.active .card-header {
  a {
    height: 3rem !important;

    h5 {
      height: 3rem !important;
      line-height: 3.2rem !important;
    }
  }
}


.side-nav .collapsible .card .card-header a,
.cyan-skin .side-nav .collapsible .card-body li a,
.cyan-skin .side-nav .collapsible .card .card-header a h5,
.cyan-skin .side-nav .collapsible .card .card-header a:hover {
  height: 3rem !important;
  line-height: 3.2rem !important;
}

.cyan-skin .side-nav .collapsible .card .card-header a h5 {
  line-height: 3.2rem !important;
}

.side-nav .collapsible .card .card-header a .fa {
  font-size: 1.4rem !important;
}

.side-nav .collapsible .card-body li a {
  padding-left: 35px !important;
}

.menu-container-avatar {
  .dropdown-toggle:empty::after {
    font-size: 2rem;
  }
}

.menu-container-avatar {
  div.dropdown {
    position: absolute !important;
    right: 35px !important;
    text-align: right !important;
    top: 10px !important;
    width: 10rem !important;

    .side-nav .logo-wrapper a {
      width: 10rem !important;
    }

    .dropdown-toggle:empty::after {
      font-size: 2rem !important;
    }

    .dropdown-toggle::after {
      font-size: 2rem !important;
    }
  }
}

.dropdown .dropdown-menu .dropdown-item {
  height: 45px !important;
  width: 9rem !important;
  line-height: 29px !important;
}

.side-nav .logo-wrapper a {
  width: 11rem !important;
}

.navbar.scrolling-navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.cyan-skin .side-nav {
  display: flex;
  flex-direction: column;
}

.modal .modal-fluid .modal-content {
  padding: 1.5rem;
}

@media (max-width: 1440px) {
  .double-nav .button-collapse-non-fixed {
    left: -18px !important;
    top: 0px !important;
  }
}

@media (max-width: 599px) {
  .double-nav .button-collapse-non-fixed {
    margin-top: -1px !important;
  }
}

.blue-gradient {
  background: #596e79 !important;
}

.cyan-skin .navbar {
  background-color: #305f72 !important;
}

.modal {
  width: 100% !important;
  margin-left: 0 !important;
  height: 100% !important;

  .modal-fluid .modal-content {
    height: 93%;
  }

  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
  }
}