.comboDescricao {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.content {
    display: flex;
}

.tabelaPrecos{

    //height: 600px;
    width: 1240px !important;
    //margin-left: -10px; 
    background-color: powderblue;

}

.tabelaChck {
    //margin-left: 100px; 
    text-align: center;
    //width: 150px;
}


