<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">

      <h4 class="white-text font-weight-bold text-uppercase ">Ranks dos Consultores de Vendas Internas</h4>
  
  </div>
    <!-- Card Filtros -->
    <div style="z-index: 2; margin-left: 10px">
      <div class="row">
        <div class="col-6 col-sm-3">
          <div class="row justify-content-around">
            <div class="col-6 col-sm-6">
              <div class="md-form datas">
                <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataInicial"
                  class="datas" (ngModelChange)="validaData('dtInicial')"  ></mdb-date-picker>
                <label class="datas" style="height: 10px">Data inicial</label>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="md-form datas">
                <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataFinal"
                  class="datas" (ngModelChange)="validaData('dtFinal')" ></mdb-date-picker>
                <label class="datas" style="height: 10px">Data final</label>
              </div>
            </div>
          </div>
  
        </div>
        <div class="col-1">
          <a mdbBtn floating=" true" size="lg" (click)="RefrashGrafico()" gradient="blue" mdbWavesEffect>
            <mdb-icon icon="bolt"></mdb-icon>
          </a>
        </div>



      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
                <h6 class="white-text font-weight-bold text-uppercase ">Eventos de prospecções concluidos</h6>            
            </div>
            <div style="display: block; margin-top: 20px">
                <canvas id="prospeccaoChart"  height="180" width= "520" ></canvas>




            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
                <h6 class="white-text font-weight-bold text-uppercase ">Propostas emitidas</h6>            
            </div>
            <div style="display: block; margin-top: 20px">
                <canvas id="propostaEmitidasChart" height="180" width= "520"   ></canvas>
            </div>
        </div>
    </div>  
    <br>
    <br>  
</div>


  
