<div *ngIf="carregando" style="height: 100%; width: 100%">
  <app-carregando></app-carregando>
</div>

<div *ngIf="!carregando">
  <!-- Nav tabs -->
  <div *ngIf="podeVisualizarEvento">
    <mdb-tabset [buttonClass]="'classic-tabs tabs-cyan'" [contentClass]="'card'" class="classic-tabs">
      <!--Panel 1-->
      <mdb-tab heading="Evento">
        <div class="row">
          <div class="col-12">
            <div class="row" style="padding: 0px 15px;">
              <div class="md-form col-12">
                <app-formulario-evento [evento]="evento"></app-formulario-evento>
              </div>
            </div>
          </div>
        </div>
      </mdb-tab>
      <!--Panel 2-->
      <mdb-tab heading="Histórico Evento">
        <div class="row">
          <div class="col-12">
            <br>
            <app-linha-do-tempo-evento [pessoa]="pessoa | async"></app-linha-do-tempo-evento>
          </div>
        </div>
      </mdb-tab>
    </mdb-tabset>
    <div class="row justify-content-end">
      <button type="button" [disabled]="podeConcluir" style="white-space: nowrap;" mdbBtn color="primary" class="waves-light"
        aria-label="Somente Visualizar" (click)="concluirEvento()" mdbWavesEffect>Concluir</button>
      <button type="button" style="white-space: nowrap;" mdbBtn color="warning" class="relative waves-light" (click)="confirmSeTornarResponsavelModal.hide(); confirmaSeTornarResponsavel();"
        mdbWavesEffect>Encaminhar</button>
      <button type="button" style="white-space: nowrap;" mdbBtn color="danger" class="waves-light" aria-label="Cancelar"
        (click)="confirmSeTornarResponsavelModal.hide(); cancelaSeTornarResponsavel()" mdbWavesEffect>Cancelar</button>
    </div>
  </div>
  <div mdbModal #modalConcluirEvento="mdbModal" [config]="{backdrop: true, ignoreBackdropClick: true}" class="modal fade right"
    role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid" role="document">
      <app-concluir-evento></app-concluir-evento>
    </div>
  </div>
  <div *ngIf="!podeVisualizarEvento">
    <app-sem-permissao></app-sem-permissao>
  </div>
</div>