<form [formGroup]="questionarioForm" class="formQuestionario">
  <div class="row">
    <div class="md-form input-group">

      <div *ngIf="quantEventosDaPessoa == 1" class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect (click)="discar()">Discar</button>
        <button type="button" mdbDropdownToggle mdbBtn color="danger" class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
          mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a *ngFor="let telefone of _pessoaObject.telefones" class="dropdown-item" (click)="trocaTelefonePrincipal(telefone.id)">
            {{telefone.telefoneCompleto | mascaraTelefone}}</a>
        </div>
      </div>


      <div *ngIf="quantEventosDaPessoa > 1" class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="dark-green" class="waves-light" mdbWavesEffect (click)="discar()">Discar</button>
        <button type="button" mdbDropdownToggle mdbBtn color="dark-green" class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
          mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a *ngFor="let telefone of _pessoaObject.telefones" class="dropdown-item" (click)="trocaTelefonePrincipal(telefone.id)">
            {{telefone.telefoneCompleto | mascaraTelefone}}</a>
        </div>
      </div>

      <input type="text" formControlName="telefonePrincipal" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
  </div>

  <div *ngIf="discando" class="row">
    <div class="col">
      <mdb-select (selected)="selecionaMotivoResposta($event)" [options]="motivosRespostasFormatado" [multiple]="false"
        placeholder="Resultado da Ligação"></mdb-select>
    </div>
  </div>
  <div *ngIf="discando" class="row">
    <div class="md-form col">
      <textarea type="text" id="form7" formControlName="observacao" class="md-textarea form-control" mdbInputDirective></textarea>
      <label for="form7">Observação</label>
    </div>
  </div>

  <div *ngIf="exige_predicao" class="row">
    <div class="col">
      <mdb-select formControlName="id_predicao" [options]="predicoesFormatado" [multiple]="false" placeholder="Selecione a previsão">
      </mdb-select>
    </div>
  </div>

  <div *ngIf="exige_objecao" class="row">
    <div class="col">
      <mdb-select formControlName="id_objecao" [options]="objecoesFormatado" [multiple]="false" placeholder="Selecione a objeção">
      </mdb-select>
    </div>
  </div>

  <div *ngIf="reagendar" class="row">
    <div class="md-form form-group col">
      <mdb-date-picker #dataReagendamento (dateChanged)="onDateChange($event)" formControlName="data" name="mydate"
        [options]="myDatePickerOptions" [placeholder]="'Selecione a data'" required></mdb-date-picker>
      <label for="telefoneDiscado" class="">Data Reagendamento</label>
    </div>
    <div class="md-form form-group col">
      <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true" [placeholder]="'Selecione a hora'"
        [label]="'Hora Reagendamento'" formControlName="hora"></mdb-time-picker>
    </div>
  </div>
  <div class="row">
    <div class="justify-content-center">
      <button type="button" mdbBtn color="primary" (click)=" gravarLigacao();" class="relative waves-light"
        mdbWavesEffect [disabled]="!questionarioForm.valid">Gravar</button>
    </div>
  </div>
</form>