<form [formGroup]="questionarioForm" class="formQuestionario">
  <div class="row">
    <div class="md-form form-group col">
      <input type="text" id="pessoaALigar" class="form-control" formControlName="pessoaALigar" mdbInputDirective
        disabled>
      <label for="pessoaALigar" class="">Pessoa a Ligar</label>
    </div>
  </div>

  <div class="row">
    <div class="md-form input-group">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-unique m-0">Action</button>
        <button type="button" class="btn btn-unique m-0 px-3 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a mdbBtn color="primary" class="waves-light" mdbWavesEffect disabled>Discar</a>
    </div>
    <div class="col">
      <mdb-select (selected)="getSelectedValue($event)" [options]="status" [multiple]="false" placeholder="Selecione o Status"></mdb-select>
    </div>
  </div>
  <div class="row">
    <div class="md-form col">
      <textarea type="text" id="form7" class="md-textarea form-control" mdbInputDirective></textarea>
      <label for="form7">Observação</label>
    </div>
  </div>

  <hr />
  <br />
  <div class="row">
    <input type="checkbox" class="form-check-input" id="materialUnchecked" [checked]="reagendar" [disabled]="!reagendar">
    <label class="form-check-label" for="materialUnchecked">Reagendar</label>
  </div>
  <div *ngIf="reagendar" class="row">
    <div class="md-form form-group col">
      <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selecione a data'" required></mdb-date-picker>
      <label for="telefoneDiscado" class="">Data</label>
    </div>
    <div class="md-form form-group col">
      <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true" [placeholder]="'Selecione a hora'"
        [label]="'Hora'" [ngModel]="darkClock"></mdb-time-picker>
    </div>
  </div>
</form>