<div class="card card-cascade narrower">
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
    <div>
      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas fas icon="info" class="mt-0"></mdb-icon>
      </button>
    </div>
    <h4 class="white-text mx-3 mt-2 font-weight-bold text-uppercase">Campanhas</h4>
  </div>
  <div class="px-0">
    <mdb-tabset #abasTabs [buttonClass]="'classic-tabs tabs-cyan'" class="classic-tabs">
      <mdb-tab heading="Campanhas">
        <div class="row">
          <div class="col-12">
            <div class="row text-right">
              <div class="col-12 md-form">
                <button type="button" mdbBtn color="primary" class="relative waves-light"
                  mdbWavesEffect>Adicionar</button>
              </div>
              <!-- <button type="button"  mdbBtn color="primary" (click)="inicializaForm();  adicionarModal.show()" class="relative waves-light"
                  mdbWavesEffect>Adicionar</button> -->
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th class="th-sm">Id
                    <mdb-icon icon="sort" (click)="sortBy('id')"></mdb-icon>
                  </th>
                  <th class="th-sm">Nome
                    <mdb-icon icon="sort" (click)="sortBy('nome')"></mdb-icon>
                  </th>
                  <th class="th-sm">Descrição
                    <mdb-icon icon="sort" (click)="sortBy('descricao')"></mdb-icon>
                  </th>
                  <th class="th-sm">Canal
                    <mdb-icon icon="sort" (click)="sortBy('canal')"></mdb-icon>
                  </th>
                  <th class="th-sm">Motivo
                    <mdb-icon icon="sort" (click)="sortBy('motivo')"></mdb-icon>
                  </th>
                  <th class="th-sm">Status
                    <mdb-icon icon="sort" (click)="sortBy('status')"></mdb-icon>
                  </th>
                  <th class="th-sm">Ações
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let campanha of campanhas">
                <tr>
                  <td>{{campanha.id}}</td>
                  <td>{{campanha.nome}}</td>
                  <td>{{campanha.descricao}}</td>
                  <td>{{campanha.canal}}</td>
                  <td>{{campanha.motivo}}</td>
                  <td>
                    <mdb-checkbox [checked]="campanha.status" [disabled]="true"></mdb-checkbox>
                  </td>
                  <td>
                    <button title="Editar usuários" (click)="editar(campanha.id); editarModal.show();" type="button" mdbBtn color="blue" outline="true"
                      rounded="true" size="sm" class="px-2" mdbWavesEffect>
                      <mdb-icon fas icon="pencil" class="mt-0"></mdb-icon>
                    </button>
                    <button title="Excluir usuários" (click)="excluir(campanha.id); excluirModal.show();" type="button" mdbBtn color="red" outline="true"
                      rounded="true" size="sm" class="px-2" mdbWavesEffect>
                      <mdb-icon fas icon="trash" class="mt-0"></mdb-icon>
                    </button>
                    <button title="Usuários da campanha" (click)="usuariosCampanha(campanha.id)" type="button" mdbBtn color="green" outline="true"
                      rounded="true" size="sm" class="px-2" mdbWavesEffect>
                      <mdb-icon fas icon="users" class="mt-0"></mdb-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mdb-tab>
      <mdb-tab heading="Usuários" [disabled]="abaAtual != 2">
        <div class="row">
          <div class="col-12">
            <app-usuarios-campanha></app-usuarios-campanha>
          </div>
        </div>
      </mdb-tab>
    </mdb-tabset>
  </div>
</div>