.status {
    width: 70px; 
    margin-left: 10px; 
    text-align: left;
    
    grid-column-gap: 2px;
}

.dtCriacao{
    padding-left: 0px;
    grid-column-gap: 2px;
}

.datas{
    padding: 0 0 0 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.9rem;
    height: 60px;

}