
  <!-- Card Filtros -->
<div>
  <div class="row ">
    <div class="col">
      <div class="row justify-content-around">
        <div class="col-5 col-sm-6">
          <div class="md-form datas">
            <mdb-date-picker #dataReagendamento name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataInicial"
              class="datas"></mdb-date-picker>
            <label class="datas">Data inicial</label>
          </div>
        </div>
        <div class="col-5 col-sm-6">
          <div class="md-form datas">
            <mdb-date-picker #dataReagendamento name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataFinal"
              class="datas"></mdb-date-picker>
            <label class="datas">Data final</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col " style="margin-top: 20px">
          <mdb-select [(ngModel)]="usuarioSelectValue" [options]="usuarioSelect" placeholder="Escolha o usuário" [disabled]="!usuarioLogadoSupervisor"
            style="font-size: 0.5rem;"></mdb-select>
          <label>Usuário</label>
    </div>
    <div class="col" style="margin-top: 20px">
      <mdb-select [(ngModel)]="statusPropostaSelectValue" [options]="statusPropostaSelect" placeholder="Escolha o status" style="font-size: 0.5rem;"></mdb-select>
      <label>Status</label>
    </div>
    <div class="col" style="margin-left: 10px; margin-top: 5px">
        <a mdbBtn floating="true" size="lg" gradient="blue" (click)="lerPropostas()" mdbWavesEffect>
          <mdb-icon icon="refresh"></mdb-icon>
        </a>
    </div>
      <div class="col" style="margin-left: 10px; margin-top: 5px">
        <!-- <a mdbBtn floating="true" size="lg" gradient="peach" mdbWavesEffect>
          <mdb-icon icon="search"></mdb-icon>
        </a>
        <a mdbBtn floating="true" size="lg" gradient="aqua" (click)="generateCsv()" mdbWavesEffect>
          <mdb-icon icon="cloud-download"></mdb-icon>
        </a> -->

      </div>

    </div>

  </div>


  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Elaborada em:</th>
        <th>Cliente</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody (click)="abreDetalheProposta(proposta.id)" *ngFor="let proposta of propostas">
      <tr>
        <th scope="row">{{proposta.id}}</th>
        <td>
          {{proposta.dtsalvou | date:'dd/MM/yyyy HH:mm:ss' }}
        </td>
        <td>
          {{proposta.cliente}}
        </td>
        <td>
          {{proposta.marca}}
        </td>
        <td>
          {{proposta.modelo}}
        </td>
        <td>
          {{proposta.placa}}
        </td>
        <td>
          {{proposta.status_proposta}}
        </td>
        <td>
          <a mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect (click)="openPDF(proposta.propostaPDF)">
            <mdb-icon icon="file-pdf-o"></mdb-icon>
          </a>
        </td>
      </tr>

    </tbody>
  </table>

  <h1 *ngIf="propostas" >
    Total de propostas listadas: {{propostas.length}}
  </h1>


<!-- <div mdbModal #modalDetalheProposta="mdbModal" [config]="{backdrop: true}" class="modal fade right" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title w-200" id="myModalLabel">Proposta</h4>
    </div>
    <div class="modal-body" style="overflow: auto; height: 100vh;">
      <app-detalhe-proposta  [idProposta]="idProposta"   (fechaModal)="fechaModal()"></app-detalhe-proposta>
    </div>
  </div>
</div>
</div> -->