<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Elaborada em:</th>
      <th>Cliente</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Placa</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody (click)="abreDetalheProposta(proposta.id)" *ngFor="let proposta of propostas">
    <tr>
      <th scope="row">{{proposta.id}}</th>
      <td>
        {{proposta.dtsalvou | date:'dd/MM/yyyy HH:mm:ss' }}
      </td>
      <td>
        {{proposta.cliente}}
      </td>
      <td>
        {{proposta.marca}}
      </td>
      <td>
        {{proposta.modelo}}
      </td>
      <td>
        {{proposta.placa}}
      </td>
      <td>
        {{proposta.status_proposta}}
      </td>
      <td>
        <a mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect (click)="openPDF(proposta.propostaPDF)">
          <mdb-icon icon="cloud-download"></mdb-icon>
        </a>
      </td>
    </tr>

  </tbody>
</table>


<!-- <div mdbModal #modalDetalheProposta="mdbModal" [config]="{backdrop: true}" class="modal fade right" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title w-200" id="myModalLabel">Proposta</h4>
    </div>
    <div class="modal-body" style="overflow: auto; height: 100vh;">
      <app-detalhe-proposta  [idProposta]="idProposta"   (fechaModal)="fechaModal()"></app-detalhe-proposta>
    </div>
  </div>
</div>
</div> -->