.dtCriacao{
    padding-left: 0px;
    grid-column-gap: 2px;
}

.datas{
    padding: 0 0 0 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.9rem;
    height: 60px;

}
.bocaFunil{
    background-image: linear-gradient(to bottom, #000000, #9933CC );
    height: 20px;
    width: 500px;
    
}
.propect {
    background-image: linear-gradient(to bottom, #9933CC, #b488ca);
    height: 80px;
    width: 500px;

}
.tentando {
    background-image: linear-gradient(to bottom,  #b488ca, #33b5e5 );
    height: 120px;
    width: 500px;

}
.flowup {
    background-image: linear-gradient(to bottom,  #33b5e5, #2BBBAD );
    height: 120px;
    width: 500px;  
}

.flowup1 {
    background-image: linear-gradient(to bottom,  #33b5e5,  rgb(248, 162, 64) );
    height: 120px;
    width: 500px;  
}

.fundoFunil{
    background-image: linear-gradient(to bottom,   rgb(248, 162, 64) , #fad487 );
    height: 120px;
    width: 500px; 

}