//TROCA DADOS SERVIDOR
.logomarcaCliente {
  height: 50px;

  & img {
    // margin-left: 30%; //treinamento
    margin-left: 100%; //produção
    height: 100%;
  }
}

.versaoSistema {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.menu-bg {
  .menu-container-avatar {
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      object-fit: contain;
      background-color: white;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 5% !important;
    }

    small {
      margin-bottom: 1rem;
      font-weight: 900;
      font-size: 1rem;
    }
  }
}

.cyan-skin .side-nav .collapsible .card.active .card-header a h5 {
  height: 3rem;
  line-height: 3rem;
}

.side-nav .collapsible .card.active .card-header a {
  height: 3rem;
}

.menu-navbar {
  .menu-item {
    height: 3rem;
    line-height: 3rem;
    .card-header {
      a {
        height: 3rem !important;
      }
    }
    i {
      font-size: 1.2rem;
    }

    span {
      font-size: 1.1rem;
    }
  }
}
.navbar-header {
  .icon-sair {
    font-size: 1.7rem;
  }
}

i.fa-sign-out,
i.fa-bell {
  font-size: 1.7em;
}

i.fa-bell {
  position: relative;

  & .counterEvents {
    background-color: red;
    border-radius: 3px;
    position: absolute;
    left: 12px;
    top: -8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    padding: 0.5px;
    text-align: center;
  }
}