//TROCA DADOS SERVIDOR
.logomarcaCliente {
  height: 50px;
  & img {
    // margin-left: 30%; //treinamento
    margin-left: 100%; //produção
    height: 100%;
  }
}

.versaoSistema {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

i.fa-sign-out,
i.fa-bell {
  font-size: 1.7em;
}

i.fa-bell {
  position: relative;
  & .counterEvents {
    background-color: red;
    border-radius: 3px;
    position: absolute;
    left: 12px;
    top: -8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    padding: 0.5px;
    text-align: center;
  }
}