<div *ngIf="eventos" class="acordionEvento">
  <mdb-accordion *ngFor="let evento of eventos">
    <mdb-accordion-item [collapsed]="true" [customClass]="'itemAcordion'">
      <mdb-accordion-item-head [indicator]="evento.eventosFilho" [customClass]="'text-center justify-content-start align-items-center'">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row">
              <button class="col-1" (click)="abreEvento($event, evento);" style="white-space: pre;" mdbBtn type="button"
                gradient="peach" size="sm" mdbWavesEffect>Detalhe</button>
              <div class="col-2 font12" title="Motivo do evento" style="white-space: pre;">{{evento.motivo}}</div>
              <div class="col-2 font12" title="Status do evento">{{evento.status}}</div>
              <div class=" col-2 font12" title="Data resolvido ou data prevista para resolução" style="white-space: nowrap;">{{(evento.dt_resolvido
                ||
                evento.dt_prevista_resolucao) |
                date:'dd/MM/yyyy HH:mm:ss'}}</div>
              <div class=" col-2 font12" title="Pessoa que visualizou o evento" style="white-space: nowrap;">{{evento.pessoa_visualizou}}</div>
              <div class=" col-2 font12" title="Pessoa que resolveu o evento" style="white-space: nowrap;">{{evento.pessoa_resolveu}}</div>
            </div>
          </div>
        </div>
      </mdb-accordion-item-head>
      <mdb-accordion-item-body *ngIf="evento.eventosFilho">
        <app-item-de-evento [eventos]="evento.eventosFilho"></app-item-de-evento>
      </mdb-accordion-item-body>
    </mdb-accordion-item>
  </mdb-accordion>
</div>

<div mdbModal #modalConcluirEvento="mdbModal" [config]="{backdrop: true}" class="modal fade right" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="pessoaObject" class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">{{concluirOuEncaminhar}} Evento -
          {{pessoaObject.principal.nome}}</h4>
      </div>
      <div *ngIf="pessoaObject" class="modal-body" style="overflow: auto; height: 80vh;">
        <app-concluir-evento *ngIf="concluir" [evento]="evento" [pessoa]="pessoa" [motivos_respostas]="motivos_respostas"
          [predicoes]="predicoes" [objecoes]="objecoes" (fechaModal)="fechaModal()"></app-concluir-evento>

        <app-encaminhar-evento *ngIf="encaminhar" [evento]="evento" [pessoa]="pessoa" (fechaModal)="fechaModal()"></app-encaminhar-evento>
      </div>
    </div>
  </div>
</div>

<div mdbModal #confirmSeTornarResponsavelModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmSeTornarResponsavelModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Confirma Responsabilidade</h4>
      </div>
      <div *ngIf="tornarResponsavel" class="modal-body">
        Deseja se tornar responsável do evento do cliente {{tornarResponsavel.cliente}}
      </div>
      <div class="modal-footer">
        <button type="button" style="white-space: nowrap;" mdbBtn color="danger" class="waves-light" aria-label="Cancelar"
          (click)="confirmSeTornarResponsavelModal.hide(); cancelaSeTornarResponsavel()" mdbWavesEffect>Cancelar</button>
        <button *ngIf="usuarioLogadoSupervisor" type="button" style="white-space: nowrap;" mdbBtn color="warning" class="waves-light"
          aria-label="Somente Visualizar" (click)="confirmSeTornarResponsavelModal.hide(); visualizarEvento($event)"
          mdbWavesEffect>Somente Visualizar</button>
        <button type="button" style="white-space: nowrap;" mdbBtn color="primary" class="relative waves-light" (click)="confirmSeTornarResponsavelModal.hide(); confirmaSeTornarResponsavel($event);"
          mdbWavesEffect>Sim</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #visualizarDetalhesEvento="mdbModal" [config]="{backdrop: true, ignoreBackdropClick: true}" class="modal fade right"
  role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="visualizarDetalhesEvento.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 *ngIf="eventoSelecionado" class="modal-title w-100" id="myModalLabel">Evento {{eventoSelecionado.motivo}}
          <button *ngIf="eventoSelecionado && eventoSelecionado.excedeu_tentativas" mdbBtn type="button" color="danger"
            size="sm" mdbWavesEffect>Excedeu Tentativas</button></h4>
      </div>
      <div class="modal-body" style="overflow: auto; height: 80vh;">
        <div class="row" style="padding: 0px 15px;">
          <div class="md-form col-12">
            <div *ngIf="eventoSelecionado" style="padding: 10px;">
              <button type="button" [disabled]="!podeConcluir" style="white-space: nowrap;" mdbBtn color="primary"
                class="waves-light" aria-label="Somente Visualizar" (click)="concluirEvento()" mdbWavesEffect>Concluir</button>
              <button type="button" [disabled]="!podeEncaminhar" (click)="encaminharEvento()" style="white-space: nowrap;"
                mdbBtn color="warning" class="relative waves-light" mdbWavesEffect>Encaminhar</button>

              <app-formulario-evento [evento]="eventoSelecionado"></app-formulario-evento>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!podeVisualizarEvento">
  <app-sem-permissao></app-sem-permissao>
</div>