<div class="h5 text-center">Campanha de Vendas Internas</div>
<div class="row">
  <div class="col-md-6">
    <mdb-select (selected)="getSelectedValue($event)" [disabled]="campanhaIniciada" [options]="campanhas | async"
      [multiple]="false" placeholder="Escolha sua campanha"></mdb-select>
    <label>Campanha</label>
  </div>

  <div *ngIf="!campanhaIniciada" class="col-md-6">
    <a *ngIf="campanhaSelecionada" class="btn btn-success btn-rounded" (click)="iniciarCampanha()" ripple-radius>Iniciar</a>
    <a *ngIf="!campanhaSelecionada" class="btn btn-elegant btn-rounded" disabled ripple-radius>Iniciar</a>
  </div>

  <div *ngIf="campanhaIniciada" class="col-md-6">
    <a *ngIf="campanhaSelecionada" class="btn btn-elegant btn-rounded" disabled ripple-radius>Iniciar</a>
    <a *ngIf="campanhaSelecionada" class="btn btn-danger btn-rounded" (click)="pararCampanha()" ripple-radius>Parar</a>
  </div>
</div>

<br />
<br />
<div class="row" *ngIf="campanhaIniciada">
  <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="solicitarLigacao(); basicModal.show();"
    mdbWavesEffect> Próximo cliente</button>
  <div mdbModal #basicModal="mdbModal" [config]="{backdrop: true, ignoreBackdropClick: true}" class="modal fade right"
    role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid" role="document">
      <div class="modal-content">
        <div *ngIf="pessoaObject" class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Vendas Internas -
            {{pessoaObject.principal.nome}}</h4>
        </div>
        <div *ngIf="formAberto" class="modal-body" style="overflow: auto; height: 80vh;">
          <div *ngIf="eventoObject">
            <div class="row">
              <div class="col-md-5">
                <app-telemarketing-questionario [modal]="basicModal" [evento]="evento" [pessoa]="pessoa"
                  [motivos_respostas]="motivos_respostas" [predicoes]="predicoes" [objecoes]="objecoes"
                  [campanhaSelecionada]="campanhaSelecionada.value" [clear]="_limpar"></app-telemarketing-questionario>
              </div>
              <div class="col-md-7">
                <app-cadastro-pessoa [pessoa]="pessoa" (refresh)="refresh()"></app-cadastro-pessoa>
              </div>
            </div>
          </div>
          <div *ngIf="!eventoObject" style="height: 100%;">
            <div *ngIf="!carregouEvento" class="justify-content-center align-items-center flex-column row" style="height: 100%;">
              <h1>Carregando!</h1>
              <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
              <button mdbBtn (click)="basicModal.hide();" type="button" gradient="peach" rounded="true" class="waves-light"
                mdbWavesEffect>Fechar</button>
            </div>
            <div *ngIf="carregouEvento" class="justify-content-center align-items-center flex-column row" style="height: 100%;">
              <h1>Não há ligações no momento!</h1>
              <button mdbBtn (click)="basicModal.hide();" type="button" gradient="peach" rounded="true" class="waves-light"
                mdbWavesEffect>Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>