<form [formGroup]="principalForm" class="formQuestionario">

  <div *ngIf="tipoPessoaSelecionada == 'F'">
    <div class="row">
      <div class="col mdb-select-form">
        <mdb-select formControlName="tipo" (selected)="getSelectedValuePessoa($event)" [options]="tipoDePessoa"
          [multiple]="false" placeholder="Tipo de pessoa"></mdb-select>
        <label>Pessoa</label>
      </div>
      <div class="col-4 mdb-select-form">
        <mdb-select formControlName="id_pronome_tratamento" [options]="tipoDeTratamentoFisica" [multiple]="false"
          placeholder="Tipo de tratamento"></mdb-select>
        <label>Tipo de tratamento</label>
      </div>
    </div>
    <div class="row">
      <div class="md-form col">
        <input mdbInputDirective formControlName="nome" type="text" id="nome" (blur)="nomeMaiusculo()" class="form-control">
        <label for="nome">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="md-form col">
        <input mdbInputDirective formControlName="apelido_fantasia" type="text" id="rg" class="form-control">
        <label for="rg">Apelido</label>
      </div>
    </div>
    <div class="row">
      <div class="md-form form-group col mdb-date-form">
        <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selecione a data'" required></mdb-date-picker>
        <label class="">Data Nascimento</label>
      </div>
      <div class="col mdb-select-form">
        <mdb-select formControlName="sexo" [placeholder]="'Selecione o Sexo'" [options]="enumSexo" [multiple]="false"></mdb-select>
        <label>Sexo</label>
      </div>
    </div>

    <div class="row">
      <div class="md-form col-4">
        <input mdbInputDirective formControlName="rg_ie" type="text" id="rg" class="form-control">
        <label for="rg">RG</label>
      </div>
      <div class="md-form col-4">
        <input mdbInputDirective formControlName="orgaoemissor" type="text" id="orgaoEmissor" class="form-control">
        <label for="orgaoEmissor">Orgão Emissor</label>
      </div>
      <div class="md-form col-4">
        <input mdbInputDirective formControlName="cpf_cnpj" type="text" id="cpf" class="form-control">
        <label for="cpf">CPF</label>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mdb-select-form">
        <mdb-select [filterEnabled]="true" formControlName="id_atividade" [placeholder]="'Selecione a profissão'"
          [options]="atividadesPessoaFisica" [multiple]="false"></mdb-select>
        <label>Profissão</label>
      </div>
      <div class="md-form col-6">
        <input mdbInputDirective formControlName="email" type="text" id="email" class="form-control">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="md-form col">
        <input mdbInputDirective formControlName="website" type="text" id="website" class="form-control">
        <label for="website">WebSite</label>
      </div>
    </div>

    <div class="row">
      <div class="md-form col">
        <textarea type="text" formControlName="observacoes" id="obs" class="md-textarea form-control" mdbInputDirective></textarea>
        <label for="obs">Observação</label>
      </div>
    </div>

    <div class="row">
      <div class="md-form col">
        <input mdbInputDirective formControlName="id" type="text" id="id" class="form-control" disabled>
        <label for="id">Id</label>
      </div>
    </div>
  </div>


  <!-- Pessoa Juridica -->
  <div *ngIf="tipoPessoaSelecionada == 'J'" class="col">
    <div class="row">
      <div class="col mdb-select-form">
        <mdb-select formControlName="tipo" (selected)="getSelectedValuePessoa($event)" [options]="tipoDePessoa"
          [multiple]="false" placeholder="Tipo de pessoa"></mdb-select>
        <label>Pessoa</label>
      </div>
    </div>
    <div class="row">
      <div class="md-form col">
        <input mdbInputDirective formControlName="nome" type="text" id="nome" (blur)="nomeMaiusculo()" class="form-control">
        <label for="nome">Razaão Social</label>
      </div>
    </div>
    <div class="row">
      <div class="md-form col">
        <input mdbInputDirective formControlName="apelido_fantasia" type="text" id="rg" class="form-control">
        <label for="rg">Nome Fantasia</label>
      </div>
    </div>
    <div class="row">
      <div class="md-form form-group col mdb-date-form">
        <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selecione a data'" required></mdb-date-picker>
        <label class="">Data Fundação</label>
      </div>
      <div class="md-form col-4">
        <input mdbInputDirective formControlName="rg_ie" type="text" id="rg_ie" class="form-control">
        <label for="rg_ie">IE</label>
      </div>
    </div>

    <div class="row">
      <div class="md-form col-5">
        <input mdbInputDirective formControlName="cpf_cnpj" type="text" id="cpf_cnpj" class="form-control">
        <label for="cpf_cnpj">CNPJ</label>
      </div>
      <div class="col mdb-select-form">
        <mdb-select [filterEnabled]="true" formControlName="id_atividade" [placeholder]="'Selecione a atividade'"
          [options]="atividadesPessoaJuridica" [multiple]="false"></mdb-select>
        <label>Atividade</label>
      </div>
    </div>


    <div class="row">
      <div class="md-form col-6">
        <input mdbInputDirective formControlName="email" type="text" id="email" class="form-control">
        <label for="email">Email</label>
      </div>
      <div class="md-form col-6">
        <input mdbInputDirective formControlName="website" type="text" id="website" class="form-control">
        <label for="website">WebSite</label>
      </div>
    </div>

    <div class="row">
      <div class="md-form col">
        <textarea type="text" formControlName="observacoes" id="obs" class="md-textarea form-control" mdbInputDirective></textarea>
        <label for="obs">Observação</label>
      </div>
    </div>

    <div class="row">
      <div class="md-form col">
        <input mdbInputDirective formControlName="id" type="text" id="id" class="form-control" disabled>
        <label for="id">Id</label>
      </div>
    </div>
  </div>

  <div class="row">
    <button type="button" mdbBtn color="primary" (click)="salvarPessoa();" class="relative waves-light" mdbWavesEffect
      [disabled]="!principalForm.valid">Salvar Pessoa</button>
  </div>
</form>