<form [formGroup]="criarEventoForm" class="formQuestionario">
  <div class="row">
    <div class="col">
      <mdb-select formControlName="tipodestino" [options]="tipoPessoa" [multiple]="false" placeholder="Para"></mdb-select>
    </div>
    <div class="col-8">
      <mdb-select formControlName="pessoaOrgonograma" [options]="usuarioSelect" [multiple]="false" placeholder="Destino"></mdb-select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mdb-select formControlName="canal" [options]="canaisSelect" [multiple]="false" placeholder="Canal"></mdb-select>
    </div>
  </div>

  <div class="row">
    <div class="md-form form-group col">
      <mdb-date-picker #dataReagendamento (dateChanged)="onDateChange($event)" name="mydate" [options]="myDatePickerOptions"
        [placeholder]="'Selecione a data'" required></mdb-date-picker>
      <label for="telefoneDiscado" class="">Data Reagendamento</label>
    </div>
    <div class="md-form form-group col">
      <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true" [placeholder]="'Selecione a hora'"
        [label]="'Hora Reagendamento'"></mdb-time-picker>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-pesquisa-cliente [initValueId]="initValueId" (onSelectCliente)="onSelectCliente($event)"></app-pesquisa-cliente>
    </div>
  </div>

  <div class="row">
    <div class="md-form col">
      <textarea type="text" id="form7" class="md-textarea form-control" mdbInputDirective></textarea>
      <label for="form7">Observação</label>
    </div>
  </div>

  <div class="row">
    <div class="justify-content-center">
      <button type="button" mdbBtn color="primary" (click)="concluiEvento();" class="relative waves-light"
        mdbWavesEffect [disabled]="!criarEventoForm.valid">Gravar</button>
    </div>
  </div>
</form>