<form [formGroup]="criarEventoForm" class="formQuestionario">
  <div class="row">
    <div class="col">
      <mdb-select formControlName="tipodestino" (selected)="onSelectTipoPessoa($event)" [options]="tipoPessoa"
        [multiple]="false" placeholder="Para"></mdb-select>
    </div>
    <div class="col-8">
      <mdb-select formControlName="pessoaOrgonograma" [options]="optionsTipoDestino" [multiple]="false" placeholder="Destino"></mdb-select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mdb-select formControlName="canal" [disabled]="_evento" [options]="canaisSelect" (selected)="onSelectCanal($event)"
        [multiple]="false" placeholder="Canal"></mdb-select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mdb-select formControlName="id_motivo" [disabled]="_evento" [options]="motivosDoCanalSelecionado" [multiple]="false"
        placeholder="Motivo"></mdb-select>
    </div>
  </div>
  <div class="row">
    <div class="md-form col">
      <mdb-date-picker formControlName="data" #dataReagendamento (dateChanged)="onDateChange($event)" name="mydate"
        [options]="myDatePickerOptions" [placeholder]="'Selecione a data'" required></mdb-date-picker>
      <label for="telefoneDiscado" class="">Agendar para:</label>
    </div>
    <div class="md-form col">
      <mdb-time-picker formControlName="hora" [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
        [placeholder]="'Selecione a hora'" [label]="'Agendar para:'"></mdb-time-picker>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-pesquisa-cliente [disabled]="disabled" [initValueId]="pessoaId" (onSelectCliente)="onSelectCliente($event)"></app-pesquisa-cliente>
    </div>
  </div>

  <div class="row">
    <div class="md-form col">
      <textarea type="text" formControlName="observacao" id="form7" class="md-textarea form-control" mdbInputDirective></textarea>
      <label for="form7">Observação</label>
    </div>
  </div>

  <div class="row">
    <div class="justify-content-center">
      <button type="button" mdbBtn color="primary" (click)="criarEvento();" class="relative waves-light" mdbWavesEffect
        [disabled]="!criarEventoForm.valid">Gravar</button>
      <button type="button" mdbBtn color="danger" (click)="cancelar();" class="relative waves-light" mdbWavesEffect>Cancelar</button>
    </div>
  </div>
</form>