<!-- Nav tabs -->
<mdb-tabset [buttonClass]="'classic-tabs tabs-cyan'" [contentClass]="'card'" class="classic-tabs">
  <!--Panel 1-->
  <mdb-tab heading="Principal">
    <div class="row">
      <div class="col-12">
        <br>
        <p>
          <app-principal [pessoa]="pessoa"></app-principal>
        </p>
      </div>
    </div>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab heading="Telefones">
    <div class="row">
      <div class="col-12">
        <br>
        <app-telefones></app-telefones>
      </div>
    </div>
  </mdb-tab>
  <!--Panel 3-->
  <mdb-tab heading="Endereços">
    <div class="row">
      <div class="col-12">
        <br>

      </div>
    </div>
  </mdb-tab>
</mdb-tabset>