<!-- Nav tabs -->
<mdb-tabset [buttonClass]="'classic-tabs tabs-cyan'" [contentClass]="'card'" class="classic-tabs">
  <!--Panel 1-->
  <mdb-tab heading="Principal">
    <div class="row">
      <div class="col-12">
        <br>
        <p>
          <app-principal [pessoa]="pessoa | async" (refreshPessoaAdd)="refreshPessoaAdd($event)"></app-principal>
        </p>
      </div>
    </div>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab heading="Telefones" [disabled]="!(pessoa | async)">
    <div class="row">
      <div class="col-12">
        <br>
        <app-telefones [pessoa]="pessoa" (refresh)="refreshDad()"></app-telefones>
      </div>
    </div>
  </mdb-tab>
  <!--Panel 3-->
  <mdb-tab heading="Endereços" [disabled]="!(pessoa | async)">
    <div class="row">
      <div class="col-12">
        <br>
        <app-enderecos [pessoa]="pessoa" (refresh)="refreshDad()"></app-enderecos>
      </div>
    </div>
  </mdb-tab>
</mdb-tabset>