.comp-margin-left {
  font-size: 2.2rem;
  margin-top: 5px;
}

.login-page {
  background: url(/assets/imagens/dark-material-bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  .login-container {
    display: flex;
    justify-content: center;
    .form-content {
      border-radius: 5px;
      width: 400px;
      max-width: 400px;
      padding: 30px;
      background-color: white;
      box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12) !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .campo-wellcome {
        color: rgba(0,0,0,.87);
        h4 {
          font-weight: bolder;
        }
      }
      .logo {
        width: 50%;
        margin-bottom: 1rem;
          img {
            max-width: 100%;
            height: auto;
            vertical-align: top;
            border: none;
        }
      }
      .campo-email {
        width: 100%;
      }
      .campo-senha {
        width: 100%;
        margin-top: 0.5rem !important;
      }
      .btn-login {
        margin-top: 2.5rem;
        margin-bottom: 3rem;
        background-color: #039be5 !important;
        opacity: 1;
        font-weight: bold;
        font-size: .85rem;
        padding: .6rem;
        max-width: 200px;
      }
      small {
        color: rgba(0,0,0,0.55);
        font-weight: 600;
      }
    }
  }
}

.animation-login {
  animation: fadeInDown 1.5s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
