<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
      <h4 class="white-text font-weight-bold text-uppercase ">Detalhes da campanha: {{nome}}</h4>
      <div class="col-2"  >
          <a  mdbBtn  floating="true" size="sm" color="danger" (click)="voltar()" mdbWavesEffect>
            <mdb-icon icon="reply"></mdb-icon>
          </a>    
      </div>
  </div>
    <!-- Card Filtros -->
    <div style="z-index: 2; margin-left: 10px">
      <div class="row">
        <div class="col-6 col-sm-3">
          <div class="row justify-content-around">
            <div class="col-6 col-sm-6">
              <div class="md-form datas">
                <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataInicial"
                  class="datas" (ngModelChange)="getDetalheCampanha();  validaData('dtInicial')"  ></mdb-date-picker>
                <label class="datas" style="height: 10px">Data inicial</label>
              </div>
            </div>
            <div class="col-6 col-sm-6">
              <div class="md-form datas">
                <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataFinal"
                  class="datas" (ngModelChange)="getDetalheCampanha(); validaData('dtFinal')" ></mdb-date-picker>
                <label class="datas" style="height: 10px">Data final</label>
              </div>
            </div>
          </div>
  
        </div>
        <div style="margin-top: 50px; margin-left: 20px">
          <h6>Click no status ou no usuário para lista seus detalhes </h6>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6">
            <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
                <h6 class="white-text font-weight-bold text-uppercase ">Status</h6>            
            </div>
            <div style="display: block">
              <!--Table-->
              <table class="table table-hover table-responsive-md mb-0">
                <!--Table head-->
                <thead>
                  <tr> 
                    <th>Status </th>
                    <th>Total </th>
                  </tr>
                </thead>
                <!--Table head-->

                <tbody>
                    <tr  #list *ngFor="let evento of detalheCampanhaStatus"  >
                      <td (click)="detalheStatus(evento.id_resp_motivo, evento.status_ligacao )" >{{evento.status_ligacao}}</td>
                      <td>{{evento.total}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-6 col-sm-6">
            <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
                <h6 class="white-text font-weight-bold text-uppercase ">Usuários</h6>            
            </div>
            <div style="display: block">
              <!--Table-->
              <table class="table table-hover table-responsive-md mb-0">
                <!--Table head-->
                <thead>
                  <tr> 
                    <th>Usuários</th>
                    <th>Total </th>
                  </tr>
                </thead>
                <!--Table head-->

                <tbody>
                    <tr #list *ngFor="let evento of detalheCampanhaConsultor"  >
                      <td (click)="detalheUsuario(evento.id_pessoa_resolveu, evento.pessoa_resolveu)">{{evento.pessoa_resolveu}}</td>
                      <td>{{evento.total}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-6 col-sm-6">
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
              <h6 class="white-text font-weight-bold">Usuários do status {{statusSelecionado}}</h6>            
          </div>
          <div style="display: block">
              <!--Table-->
              <table class="table table-hover table-responsive-md mb-0">
                <!--Table head-->
                <thead>
                  <tr> 
                    <th>Usuários</th>
                    <th>Total </th>
                  </tr>
                </thead>
                <!--Table head-->

                <tbody>
                    <tr #list *ngFor="let evento of detalheCampanhaStatusConsultor"  >
                      <td>{{evento.pessoa_resolveu}}</td>
                      <td>{{evento.total}}</td>
                    </tr>
                </tbody>
              </table>
          </div>
      </div>
      <div class="col-6 col-sm-6">
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
              <h6 class="white-text font-weight-bold ">Status do usuários {{usuarioSelecionado}}</h6>            
          </div>
          <div style="display: block">
              <!--Table-->
              <table class="table table-hover table-responsive-md mb-0">
                <!--Table head-->
                <thead>
                  <tr> 
                    <th>Status </th>
                    <th>Total </th>
                  </tr>
                </thead>
                <!--Table head-->

                <tbody>
                    <tr #list *ngFor="let evento of detalheCampanhaConsultorStatus"  >
                      <td>{{evento.status_ligacao}}</td>
                      <td>{{evento.total}}</td>
                    </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>

</div>

<br>
<br>
<br>
<br>
